li a {
    color: white;

}

h1{
    color: white;
    text-align: center;
    margin-top: 240px;
}

label {
    color:white;
}

li {
    margin-left: 140px;
    color: white;
}

body {
    background: white url("images/bg.jpg");
}
