{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>5 latest questions</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
<!--    <li><a href="/polls2/{{ question.id }}/">{{ question.question_text }}</a></li>-->
        <li><a href="{% url 'polls2:detailofques' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
